<app-chatbox></app-chatbox>
<div class='separator'></div>
<div class='code'>
    <div class='single'>
        <a href='https://github.com/akariv/hatool/blob/master/projects/hatool-tester/src/app/chatLogic.ts'>chatLogic.ts</a>
        <pre><code class='typescript' [highlight]='code'>
        </code></pre>
    </div>
    <div class='single'>
        <a href='https://github.com/akariv/hatool/blob/master/projects/hatool-tester/src/theme.less'>theme.less</a>
        <pre><code class='less' [highlight]='style'>
        </code></pre>
    </div>
    <div class='single'>
        <a href='https://github.com/akariv/hatool/blob/master/projects/hatool-tester/src/assets/script.yaml'>script.yaml</a>
        <pre><code class='yaml' [highlight]='script'>
        </code></pre>
    </div>
</div>

