<app-chatbox></app-chatbox>
<div class='separator'></div>
<div class='code'>
    <div class='tabs'>
        <span (click)='selected="script"' [class.active]='selected=="script"'>script.yaml</span>
        <span (click)='selected="code"' [class.active]='selected=="code"'>chatbox.component.ts</span>
        <span (click)='selected="style"' [class.active]='selected=="style"'>theme.less</span>
    </div>
    <div class='single' *ngIf='selected=="code"'>
        <pre><code class='typescript' [highlight]='code'></code></pre>
        <a href='https://github.com/akariv/hatool/blob/master/projects/hatool-tester/src/app/chatbox/chatbox.component.ts'>GitHub</a>
    </div>
    <div class='single' *ngIf='selected=="style"'>
        <pre><code class='less' [highlight]='style'>
        </code></pre>
        <a href='https://github.com/akariv/hatool/blob/master/projects/hatool-tester/src/theme.less'>GitHub</a>
    </div>
    <div class='single' *ngIf='selected=="script"'>
        <pre><code class='yaml' [highlight]='script'>
        </code></pre>
        <a href='https://github.com/akariv/hatool/blob/master/projects/hatool-tester/src/assets/script.yaml'>GitHub</a>
    </div>
</div>

