<htl-hatool></htl-hatool>
<div class='separator'></div>
<div class='code'>
    <div class='single'>
        <a href='https://github.com/akariv/hatool/blob/master/projects/hatool-tester/src/app/chatLogic.ts'>chatLogic.ts</a>
        <pre><code class='typescript' #code>
        </code></pre>
    </div>
    <div class='single'>
        <a href='https://github.com/akariv/hatool/blob/master/projects/hatool-tester/src/theme.less'>theme.less</a>
        <pre><code class='less' #style>
        </code></pre>
    </div>
</div>

